<div class="outer-frame">
  <!-- Background Image -->
  <picture>
    <source media="(max-width:550px)" srcset="assets/images/bg-intro-mobile.png">
    <source media="(min-width:551px)" srcset="assets/images/bg-intro-desktop.png">
    <img src="assets/images/bg-intro-desktop.png" alt="Background image">
  </picture>
  <header>
    <h1>Learn to code by watching others</h1>
    <p>See how experienced developers solve problems in real-time. Watching scripted tutorials is great, but
      understanding how developers think is invaluable.</p>
  </header>
  <div class="inner-frame">
    <main>
      <button class="trial-btn btn"><span>Try it free 7 days</span> then $20/mo. thereafter</button>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="entry">
          <input class="form-control"
          [ngClass]="{'error':invalidBorder}" 
          type="text" 
          placeholder="First Name" 
          formControlName="firstName">
          <div *ngIf="firstName.invalid">
            <p [ngStyle]="{display: errorMessageVisibility ?' block' : 'none'}" [ngClass]="{'errorMsg': invalidBorder}" 
            >First Name cannot be empty</p>
            <svg [ngStyle]="{display: errorMessageVisibility ?' block' : 'none'}" class="error-icon"width="24" height="24" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <circle fill="#FF7979" cx="12" cy="12" r="12"/>
                <rect fill="#FFF" x="11" y="6" width="2" height="9" rx="1"/>
                <rect fill="#FFF" x="11" y="17" width="2" height="2" rx="1"/>
              </g>
            </svg>
          </div>
          
        </div>

        <div class="entry">
          <input class="form-control"
          [ngClass]="{error: invalidBorder}" 
          type="text" 
          placeholder="Last Name" 
          formControlName="lastName">
          <div *ngIf="lastName.invalid">
            <p [ngStyle]="{display: errorMessageVisibility ?' block' : 'none'}" [ngClass]="{errorMsg: invalidBorder}"
            >Last Name cannot be empty</p>
            <svg [ngStyle]="{display: errorMessageVisibility ?' block' : 'none'}" class="error-icon"width="24" height="24" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <circle fill="#FF7979" cx="12" cy="12" r="12"/>
                <rect fill="#FFF" x="11" y="6" width="2" height="9" rx="1"/>
                <rect fill="#FFF" x="11" y="17" width="2" height="2" rx="1"/>
              </g>
            </svg>
          </div>
          
        </div>

        <div class="entry">
          <input class="form-control"
          [ngClass]="{error: invalidBorder}" 
          type="email" 
          placeholder="Email Address" 
          formControlName="Email">
          <div *ngIf=" Email.invalid">
            <p [ngStyle]="{display: errorMessageVisibility ?' block' : 'none'}" 
            [ngClass]="{errorMsg: invalidBorder}"
            *ngIf="Email.errors?.['required']"
            >Email cannot be empty</p>
            <p [ngStyle]="{display: errorMessageVisibility ?' block' : 'none'}" 
            [ngClass]="{errorMsg: invalidBorder}" 
            *ngIf="Email.errors?.['pattern']"
            >Looks like this is not an email</p>
            <svg [ngStyle]="{display: errorMessageVisibility ?' block' : 'none'}" class="error-icon"width="24" height="24" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <circle fill="#FF7979" cx="12" cy="12" r="12"/>
                <rect fill="#FFF" x="11" y="6" width="2" height="9" rx="1"/>
                <rect fill="#FFF" x="11" y="17" width="2" height="2" rx="1"/>
              </g>
            </svg>
          </div>
        </div>
        
        <div class="entry">
          <input class="form-control" 
          [ngClass]="{error: invalidBorder}"  
          type="password" 
          placeholder="Password" 
          formControlName="Password">
          <div *ngIf="Password.invalid">
            <p [ngStyle]="{display: errorMessageVisibility ?' block' : 'none'}" [ngClass]="{errorMsg: invalidBorder}"
            >Password cannot be empty</p>
            <svg [ngStyle]="{display: errorMessageVisibility ?' block' : 'none'}" class="error-icon"width="24" height="24" xmlns="http://www.w3.org/2000/svg">
              <g fill="none" fill-rule="evenodd">
                <circle fill="#FF7979" cx="12" cy="12" r="12"/>
                <rect fill="#FFF" x="11" y="6" width="2" height="9" rx="1"/>
                <rect fill="#FFF" x="11" y="17" width="2" height="2" rx="1"/>
              </g>
            </svg>
          </div>
        </div>
        
        <button type="submit" class="submit-btn btn">CLAIM YOUR FREE TRIAL</button>
        <p>By clicking the button, you are agreeing to our <span>Terms and Services</span></p>
      </form>
    </main>
    <footer>
      <p class="attribution">
        Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
        Coded by <a href="https://www.frontendmentor.io/profile/velvetrose">Sarah Susan</a>.
      </p>
    </footer>
  </div>
  
</div>